#pagina-planta{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "detalhes-planta comentarios-planta"
    "detalhes-planta avaliar-planta"    
}

#detalhes-planta{
    padding-left: 1em;
    grid-area: detalhes-planta;
    border: 1px solid black;
}

#comentarios-planta{
    grid-area: comentarios-planta;
    border: 1px solid black;    
    padding-left: 1em;
}

#avaliar-planta{
    grid-area: avaliar-planta;
    border: 1px solid black;
    padding-left: 1em;
}