html, body {
    margin: 0px;
    min-height: 100vh;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}

/* Header */

#cabecalho {
    display: flex;    
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #A1FAAA;    
    font-size: 15px;
    border-bottom: 3px solid #82d38b;
    padding: 10px;

    grid-area: header;    
}

#cabecalho nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 50px;
}

#principal {     
    grid-area: main;
    padding: 10px;
}

#barra-lateral{
    grid-area: sidebar;
    background-color: #A1FAAA;
}

#rodape{
    grid-area: footer;  
    padding: 10px;  
    background-color: #3EAF3F; 
}

.logo {
    width: 30%;
    display: flex;
    gap: 3px;
}

.logo img {
    width: 30px;
}

.logo h1 {
    font-size: 18px;
}

#toggle-sidebar {   
    position: relative;
    margin: 20px;
    top: 0%;
    height: 2em;
    width: 2em;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid darkgreen;
    text-align: center;    
}

.botao-header {
    position: relative;
    padding: 10px;
    background-color: rgb(137, 255, 137);
    border: 1px solid darkgreen;
    border-radius: 30px;
}

.botao-header:hover{
    right: 1px;
    bottom: 1px;
}