/* Geral */

:root{
  --cor-header: #A1FAAA;
  --cor-barra-lateral: #A1FAAA;
  --cor-artigos: #A1FAAA;
  --cor-rodape: #3EAF3F;
  --cor-background: #FFF;
  --cor-titulos: #000;
  --cor-texto: #000;
  --cor-botao-custom: rgb(137, 255, 137);
  --cor-texto-botao-custom: #000;
  --cor-botao-exclude: rgb(255, 93, 93);
}

html, body {   

  margin: 0px;
  min-height: 100vh;
  color: var(--cor-texto);
}

.container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 90% auto;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}

h1, h2, h3{
  color: var(--cor-texto);
}

/* Header */

#cabecalho {
  grid-area: header;
  display: flex;    
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--cor-header);    
  font-size: 15px;    
  padding: 10px;
  z-index: 999;
}

#cabecalho nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 50px;
}

.logo {
  width: 30%;
  display: flex;
  gap: 3px;
}

.logo img {
  width: 30px;
}

.logo h1 {
  font-size: 18px;
}

.botao-custom {
  position: relative;
  padding: 10px;
  background-color: var(--cor-botao-custom);
  border: 1px solid darkgreen;
  border-radius: 30px;
}

.botao-custom a{
  color: var(--cor-texto-botao-custom);
}

.botao-custom:hover{
  right: 1px;
  bottom: 1px;
}

.botao-exclude {
  position: relative;
  padding: 10px;
  background-color: var(--cor-botao-exclude);
  border: 1px solid darkgreen;
  border-radius: 30px;
}

/* banner */

.banner{   
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;    
  background-image: url('../images/banner.png');
  
}

.banner h1{
  font-size: 36px;
  font-family: sans-serif;
  color:black;
  text-align: center;    
  text-shadow: -2px 2px white, 2px 2px white, 2px -2px white, -2px -2px white;
}


/* sidebar */

#barra-lateral {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  grid-area: main;
  position: relative; 
  left: -250px;
  width: 250px; 
  background-color: var(--cor-barra-lateral);
  transition: all 200ms ease-out;     
}

#toggle-sidebar {   
  position: relative;
  margin: 20px;
  top: 0%;
  height: 2em;
  width: 2em;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid darkgreen;
  text-align: center;    
}

body.menu-visivel #barra-lateral {
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  z-index: 0;
}

#barra-lateral img {
  top: 50px;
  visibility: hidden; 
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

body.menu-visivel #barra-lateral img {
  position: relative;
  visibility: visible;
}

.botao-custom.botao-sidebar {
  visibility: hidden;
}

body.menu-visivel .botao-custom.botao-sidebar {
  visibility: visible;
}

/* Main */

body.menu-visivel #principal {
  left: 250px;
  width: calc(100vw - 210px);
}

body.menu-visivel {
  overflow-x: hidden;
}

#principal {     
  grid-area: main;
  position: relative;
  left: 0;
  transition: left 200ms ease-out;
  padding: 10px;
  background-color: var(--cor-background);
}

.box-plantas{
  display: flex;
  flex-wrap: wrap;    
  justify-content: center;    
}

/* Article */

.post-plantas{    
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 1em;    
  margin: 0.5em;
  background-color: var(--cor-artigos);
  text-align: justify;
  width: 250px;
  height: auto;
}

.post-plantas a{
  text-decoration: none;
  color: var(--cor-texto);
}

.foto-planta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 150px;
  height: 150px;
}

/* Stars */

button.fa{
  background: none;
  border: none;
  padding: 0;
}

.fa.fa-star {
  filter: drop-shadow(2px 2px 2px var(--cor-text));
  transition: all 200ms ease-out;
}

.checked { 
  color: orange;
}

/* Footer */

#rodape{
  grid-area: footer;  
  padding: 10px;  
  background-color: var(--cor-rodape); 
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  :root{
    --cor-header: #3EAF3F;
    --cor-barra-lateral: #3EAF3F;
    --cor-artigos: #3EAF3F;
    --cor-rodape: #216221;
    --cor-background: #203522;
    --cor-titulos: #FFF;
    --cor-texto: #FFF;
    --cor-texto-botao-custom: #000;
  }
}