@font-face {
    font-family: "Verdana";
    src: url("verdana.woff") format("woff"), url("verdana.woff2") format("woff2"), url("verdana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}