/* Geral */

:root{
  --cor-header: #A1FAAA;
  --cor-barra-lateral: #A1FAAA;
  --cor-artigos: #A1FAAA;
  --cor-rodape: #3EAF3F;
  --cor-background: #FFF;
  --cor-titulos: #000;
  --cor-texto: #000;
  --cor-botao-custom: rgb(137, 255, 137);
  --cor-texto-botao-custom: #000;
  --cor-botao-exclude: rgb(255, 93, 93);
}

html, body {   

  margin: 0px;
  min-height: 100vh;
  color: var(--cor-texto);
}

.container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 90% auto;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}

h1, h2, h3{
  color: var(--cor-texto);
}


/* banner */

.banner{   
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;    
  background-image: url('./images/banner.png');
  
}

.banner h1{
  font-size: 36px;
  font-family: sans-serif;
  color:black;
  text-align: center;    
  text-shadow: -2px 2px white, 2px 2px white, 2px -2px white, -2px -2px white;
}



/* Main */

body.menu-visivel #principal {
  left: 250px;
  width: calc(100vw - 210px);
}

body.menu-visivel {
  overflow-x: hidden;
}

#principal {     
  grid-area: main;
  position: relative;
  left: 0;
  transition: left 200ms ease-out;
  padding: 10px;
  background-color: var(--cor-background);
}

.box-plantas{
  display: flex;
  flex-wrap: wrap;    
  justify-content: center;    
}

/* Stars */

button.fa{
  background: none;
  border: none;
  padding: 0;
}

.fa.fa-star {
  filter: drop-shadow(2px 2px 2px var(--cor-text));
  transition: all 200ms ease-out;
}

.checked { 
  color: orange;
}

/* Footer */

#rodape{
  grid-area: footer;  
  padding: 10px;  
  background-color: var(--cor-rodape); 
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  :root{
      --cor-header: #3EAF3F;
      --cor-barra-lateral: #3EAF3F;
      --cor-artigos: #3EAF3F;
      --cor-rodape: #216221;
      --cor-background: #203522;
      --cor-titulos: #FFF;
      --cor-texto: #FFF;
      --cor-texto-botao-custom: #000;
  }
}