<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="light dark">
  <title>Comunidade de jardinagem</title>
  <link rel="shortcut icon" href="images/lotus.png">
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/fav_plants.css">
</head>

<body>
  <div class="container">
    <main id="principal">
      <section>
        <h1 id="title">Lista de Plantas do Gabriel Testezinho</h1>
        <h2>Frutíferas</h2>
      </section>
      <section class="box-plantas">
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
      </section>
      <section>
        <h2>Ornamentais</h2>
      </section>
      <section class="box-plantas">
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
      </section>
      <section>
          <h2>Flores</h2>
      </section>
      <section class="box-plantas">
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
        <article class="post-plantas">
          <a href="com_plants.html">
            <h3>Gardênia</h3>
            <img src="images/lotus.png" class="foto-planta" alt="Icone pra ser substituído">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et
              dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </a>
        </article>
      </section>
    </main>
    <footer id="rodape">
      <div>
        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>, and by <a href="https://www.klipartz.com title=" title="Klipartz">Klipartz</a>
      </div>
    </footer>
  </div>
  <script src="scripts/sidebar.js"></script>
</body>
</html>
