<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/login.css" />
    <link rel="stylesheet" href="../../styles/index.css" />
    <link rel="shortcut icon" href="../../images/lotus.png" />
    <title>Login</title>
  </head>

  <body>
    <header id="cabecalho">
      <div class="logo">
        <img
          src="../../images/lotus.png"
          alt="Ícone da comunidade de jardinagem"
        />
        <h1>Comunidade de jardinagem</h1>
      </div>
      <nav>
        <button class="botao-custom">
          <a href="index.html">Página Inicial</a>
        </button>
        <button class="botao-custom">
          <a href="">Perfil</a>
        </button>
        <button class="botao-custom">
          <a href="fav_plants.html">Plantas favoritas</a>
        </button>
      </nav>
    </header>
    <main>
      <section>
        <div id="cabecalho-section">
          <img
            id="login-img"
            src="../../images/icon-login.png"
            alt="Símbolo de um boneco que representa o usuário"
          />
          <h1>Login do Usuário</h1>
        </div>
        <form action="/login/" method="POST" id="form-register">
          <label for="login-input" id="login-input-lbl">E-mail: </label>
          <input name="email" id="login-input" type="email" required />
          <label for="password-input" id="password-input-lbl">Senha:</label>
          <input
            name="password"
            id="password-input"
            type="password"
            minlength="8"
            required
          />
          <button type="submit" id="login-button">Entrar</button>
        </form>
      </section>
    </main>
  </body>
</html>