html,
body {
    min-height: 100vh;
}

body {
    margin: 0px;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: auto;
    grid-template-areas: "header""main";
    font-family: sans-serif;
    font-size: 14px;
}

header {
    grid-area: header;
    background-image: linear-gradient(0deg, rgba(26, 211, 58, 255), rgba(173, 204, 251, 255));
    background-image: url('../images/marguerite.jpg');
    background-repeat: repeat-x;
    background-size: 40%;
}

main {
    grid-area: main;
    background-image: linear-gradient(0deg, rgba(26, 211, 58, 255), rgba(173, 204, 251, 255));
    background-image: url('../images/poppies2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 360px;
    height: 22px;
    margin: 5px;
    font-family: sans-serif;
    font-size: 14px;
}

#register-button {
    width: 360px;
    height: 30px;
    margin-left: 10%;
    margin-top: 5px;
    color: white;
    background-color: red;
    font-family: sans-serif;
    font-size: 16px;
}

input,
button {
    border-radius: 10px;
}

input,
label,
#login-register,
#cabecalho-section,
section {
    margin-left: auto;
    margin-right: auto;
}

#login-img {
    width: 28px;
    height: 28px;
    align-self: center;
    padding-right: 5px;
}

#login-img-nav {
    width: 4%;
    height: auto;
    padding-right: 5px;
    margin-left: 50px;
    margin-top: 10px;
}

#texto-icone-voltar {
    color: white;
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000
}

#cabecalho-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#cabecalho-section h1 {
    margin-left: 0px;
}

#cabecalho-section img {
    margin-right: 0px;
}

#cabecalho-section>* {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 28px;
}

section {
    width: 450px;
}

label {
    text-align: left;
    width: 360px;
    margin-bottom: 1px;
    margin-top: 10px;
}

#password-input-lbl a {
    margin-left: calc(360px - 9em);
}

.radio-btn {
    width: 15px;
    margin-left: 5px;
}

#radio-div {
    width: 210px;
    margin-left: 41px;
}

#radio-div input {
    margin-right: 5px;
}